HoverInfoPanel {
    height: 3%;
    width: 5%;
    position: absolute;
    background-color: #000000FF;
    opacity: .5;
    pointer-events: none;
    color: white;
    font-size: 10px;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    font-family: sans-serif, Arial;
    transition: opacity 1s linear;
}
