@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root class="@(Network.IsOwner ? "hidden": "")">
	<div class="title">@(Network.OwnerConnection.DisplayName)</div>
</root>

@code
{
	protected override int BuildHash() => System.HashCode.Combine(Network.OwnerConnection.DisplayName);
}